*{
    background-color: rgb(110, 219, 246);
}
#nav1{
    display: flex;
    justify-content: space-between;
}
#image{
    height:200px;
    width: 200px;
    border-radius: 50%;
   
}
#hi{
    width: 150px;
    height: 150px;
}
#tool{
    display: flex;
    margin: 50px;
    gap: 20px;
   
}
.ab{
    text-decoration:none;
    font-size: 20px;
}
#cart{
    margin-top:-6px;
}
input{
    margin-left: 40%;
}
#b{
    margin-left: 10px;
}
button:hover{
    color: slateblue;
}
#cardlist{
    width: 200px;
    
    margin: 20px;
    margin-top:50px;
    
}
#cardlist:hover{
    border-radius: 5%;
    border: 3px solid black;
}
#parentcard{
    display: flex;  
    flex-wrap: wrap;
}
#food{
    width:200px;
    height: 180px;
    border-radius: 6%;
}
#text{
    margin:0;
}
#variety{
    margin: 0;
}
#star{
    display: flex;
    justify-content: space-between;
}
.rate{
    margin:5px;
}
.raty{
    margin:3px;
}
#deco{
    margin: 10px;
    border-radius: 2%;
    
}
#content{
    border-radius: 2%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3))

}
h5{
    margin: 20px;
}
#parent{
    margin: 0;
    padding: 0;
    
}
#btn{
    margin-top: 0px;
}
#btn:hover{
    background-color: rgb(61, 189, 14);
    color: rgb(18, 1, 36);
}
#yup{
    width:200px;
    
}
.UI{
    width: 0;
    color:rgb(211, 211, 199)
}
.sh-card{
    width: 200px;
    height: 300px;
    margin: 20px;
    background-color: rgb(179, 179, 183);
    border-radius: 2%;
    
}
#sh-container{
    display: flex;
    flex-wrap: wrap;
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
    width: 60px;
    margin-top: 65%;
    margin-left: 35%;
    aspect-ratio: 1;
    background: linear-gradient(#dc1818 0 0) bottom/100% 0% no-repeat #ccc;
    -webkit-mask: 
      radial-gradient(circle at 60% 65%, #000 62%, #0000 65%) top left, 
      radial-gradient(circle at 40% 65%, #000 62%, #0000 65%) top right, 
      linear-gradient(to bottom left, #000 42%,#0000 43%) bottom left , 
      linear-gradient(to bottom right,#000 42%,#0000 43%) bottom right;
    -webkit-mask-size: 50% 50%;
    -webkit-mask-repeat: no-repeat;
    animation: l19 2s infinite linear;
  }
  @keyframes l19 {
      90%,100% {background-size:100% 100%}
  }
  #login{
    width: 60px;
    height: 25px;
    background-color: rgb(39, 39, 239);
    color: rgb(21, 233, 187);
  }
 